<!-- Formulaire d'envoi de message -->
<div id="root">
  <h1>PJ-1 interface</h1>
  <div id="wt-container"></div>
  <div id="tchat-service">


    <!-- Sélection des destinataires pour l'envoi de messages -->
    <div class="recipient-selection">
      <label>
        <input type="checkbox" [(ngModel)]="sendToAll"> Tous
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="sendToMJ"> Maître du Jeu
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="sendToPlayer2"> Joueur 2
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="sendToPlayer3"> Joueur 3
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="sendToPlayer4"> Joueur 4
      </label>

      <!-- Ajoutez des cases à cocher pour d'autres joueurs si nécessaire -->
    </div>


    <div class="message-input">
      <input type="text" [(ngModel)]="messageContent" placeholder="Votre message">
      <button (click)="sendMessage()">Envoyer</button>
    </div>

    <!-- Affichage des messages -->
    <div class="messages">
      <div *ngFor="let message of myMessages">
        <strong [ngClass]="{
        'message-send': message.sender === 'player1',
        'message-received': message.sender !== 'player1'
      }">
          {{ message.sender }}:
        </strong>
        <p> {{ message.content }}</p>
      </div>
    </div>
  </div>
</div>