p {
    overflow-wrap: break-word;
    /* This property ensures that long words are broken and wrapped onto the next line */
}

.message-send {
    background-color: #92ffa0;
}

.message-received {
    background-color: #b0b5ff;
}

.messages {
    overflow-y: scroll !important;
}