/* main-interface-mj.component.css */
.main-interface-buttons {
    display: flex;
    flex-direction: column; /* Changez en 'row' si vous préférez un alignement horizontal */
    align-items: center; /* Centrer les boutons verticalement s'ils sont en ligne */
    justify-content: space-around; /* Espacer uniformément les boutons */
    gap: 10px; /* Espacer les boutons verticalement */
    padding: 20px;
  }
  



  .player-selection {
    margin-bottom: 20px;
  }
  
  .message-input {
    margin-bottom: 20px;
  }
  
  .sent-messages, .received-messages {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .sent-messages h3, .received-messages h3 {
    margin-top: 0;
  }
  