<!-- main-interface-mj.component.html -->
<div class="main-interface-buttons">
    <app-ambiance-button 
      imgSrc="../../../assets/weather.png"
      title="Météo"
      [options]="optionsForMeteoButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/fete.png"
      title="Festival"
      [options]="optionsForFestivalButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/duel.png"
      title="Combat"
      [options]="optionsForCombatButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/terrain.png" 
      title="Terrain"
      [options]="optionsForTerrainButton">
    </app-ambiance-button>
  </div>

  

  <div id="wt-container"></div>


<!-- Formulaire d'envoi de message -->
<div class="message-input">
  <input type="text" [(ngModel)]="messageContent" placeholder="Écrivez votre message ici">
  <button (click)="sendMessage()">Envoyer</button>
</div>

<!-- Affichage des messages -->
<div class="messages">
  <div *ngFor="let message of myMessages">
    <strong>{{ message.sender }}:</strong> {{ message.content }}
  </div>
</div>

  







  