<!-- main-interface-mj.component.html -->
<div class="main-interface-buttons">
    <app-ambiance-button 
      imgSrc="../../../assets/weather.png"
      title="Météo"
      [options]="optionsForMeteoButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/fete.png"
      title="Festival"
      [options]="optionsForFestivalButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/duel.png"
      title="Combat"
      [options]="optionsForCombatButton">
    </app-ambiance-button>
  
    <app-ambiance-button 
      imgSrc="../../../assets/terrain.png" 
      title="Terrain"
      [options]="optionsForTerrainButton">
    </app-ambiance-button>
  </div>




<!-- main-interface-mj.component.html -->
<div class="message-box">
  <textarea [(ngModel)]="messageContent" placeholder="Tapez votre message ici..."></textarea>
  <div class="recipients">
    <label>
      <input type="checkbox" [(ngModel)]="sendToAllPlayers" (change)="toggleAllPlayers()">
      Tous les joueurs
    </label>
    <div *ngFor="let player of players">
      <label>
        <input type="checkbox" [(ngModel)]="player.selected" [disabled]="sendToAllPlayers">
        {{ player.pseudo }}
      </label>
    </div>
  </div>
  <button (click)="sendMessage()">Envoyer</button>
</div>





  