<!-- players-stat.component.html -->
<div class="player-stats-container">
    <div class="player-header">
      <div class="player-pseudo">{{ player.pseudo }}</div>
      <div class="player-hp">HP: {{ player.hp }}</div>
      <div class="player-inspiration">Inspi: {{ player.inspiration }}</div>
      <div class="player-ac">AC: {{ player.ac }}</div>
    </div>
    <div class="player-body">
      <div>Strength: {{ player.strength }}</div>
      <div>Dexterity: {{ player.dexterity }}</div>
      <div>Charisma: {{ player.charisma }}</div>
      <div>Constitution: {{ player.constitution }}</div>
      <div>Wisdom: {{ player.wisdom }}</div>
      <div>Intelligence: {{ player.intelligence }}</div>
    </div>
  </div>
  